@font-face {
  font-family: 'VCRfont';
  src: url('VCR_OSD_MONO_1.001.ttf');
}
body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}
.et-hero-tabs{
  background: linear-gradient(0deg, white, white 10%, transparent);
 animation: colorchange 30s infinite;
}
.firstBlock{
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("mountains.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%;
}
.et-slide{
  height:100vh;
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.name{
  animation: textmove 5s linear infinite;
}
.glitch, .glitchblue, .glitchred{
  font-size: 3rem;
  margin: 0;
  letter-spacing: 1rem;
  font-family: 'VCRfont';
  color:white;
  position:relative;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3{
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-family: 'VCRfont';
  color:white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #DEDCDF;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  position: relative;
  z-index: 12;
}
.et-hero-tab:hover {
  color: white;
  background: #6E98C2;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #6E98C2;
  transition: left 0.3s ease;
}
.scanlines {
  position: relative;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 7;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 5s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.05) 51%);
  background-size: 100% 8px;
  animation: scanlines 6s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    top:100vh
  }
  20%,100%{
    top:0px
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 2rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
@media(max-width:425px){
  .et-hero-tabs-container{
    flex-direction: column;
    height: 25vh;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab-slider {
    display: none;
  }
}
@keyframes textmove {
  0%{
  }
  12%{
    transform: translateX(0px);
  }
  12.5%{
    transform: translateX(-10px);
  }
  13%{
    transform: translateX(10px);
  }
  13.5%{
    transform: translateX(0px);
  }
  100%{
  }
}
@keyframes colorchange
    {
      0% {
      background-color: hsl(331,60%,54%);
    }
    60% {
      background-color: hsl(167,60%,53%);
      /*background-image: url('https://ih1.redbubble.net/image.233933383.3496/flat,800x800,070,f.u3.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 50%;*/
    }
    25% {
      background-color: hsl(283,60%,56%);
    }
    95% {
      background-color: hsl(224,60%,58%);
    }
    100%{
      background-color: hsl(331,60%,54%);
    }
}
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(70px, 9999px, 91px, 0);
  }
  5% {
    clip: rect(57px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(40px, 9999px, 51px, 0);
  }
  15% {
    clip: rect(92px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 81px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(35px, 9999px, 91px, 0);
  }
  35% {
    clip: rect(85px, 9999px, 42px, 0);
  }
  40% {
    clip: rect(36px, 9999px, 12px, 0);
  }
  45% {
    clip: rect(8px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 8px, 0);
  }
  55% {
    clip: rect(52px, 9999px, 38px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(69px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(84px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(81px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 88px, 0);
  }
  85% {
    clip: rect(64px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 97px, 0);
  }
  95% {
    clip: rect(34px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 22px, 0);
  }
}
.glitchred {
  position: absolute;
  text-shadow: -2px 0 red;
  top: 0;
  left: -2px;
  width: 100%;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(63px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(30px, 9999px, 34px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 85px, 0);
  }
  15% {
    clip: rect(28px, 9999px, 24px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 89px, 0);
  }
  25% {
    clip: rect(35px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(1px, 9999px, 69px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 78px, 0);
  }
  45% {
    clip: rect(36px, 9999px, 26px, 0);
  }
  50% {
    clip: rect(40px, 9999px, 88px, 0);
  }
  55% {
    clip: rect(78px, 9999px, 82px, 0);
  }
  60% {
    clip: rect(21px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 91px, 0);
  }
  70% {
    clip: rect(8px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(13px, 9999px, 61px, 0);
  }
  80% {
    clip: rect(92px, 9999px, 23px, 0);
  }
  85% {
    clip: rect(81px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(77px, 9999px, 92px, 0);
  }
}
.glitchblue {
  position: absolute;
  text-shadow: 2px 0 blue;
  top: 0;
  left: 2px;
  width: 100%;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
  -webkit-animation: noise-anim-2 2s infinite linear alternate-reverse;

}
