@font-face {
  font-family: 'VCRfont';
  src: url('VCR_OSD_MONO_1.001.ttf');
}
body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}
.et-hero-tabs{
  background: linear-gradient(0deg, white, white 10%, transparent);
 animation: colorchange 120s infinite;
}
.firstBlock{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("mountains.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%;
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
}

.et-hero-tabs h1{
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  font-family: 'VCRfont';
  color:white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3{
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  font-family: 'VCRfont';
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #DEDCDF;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  position: relative;
  z-index: 12;
}
.et-hero-tab:hover {
  color: white;
  background: #6E98C2;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #6E98C2;
  transition: left 0.3s ease;
}
.scanlines {
  position: relative;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 6;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 5s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.05) 51%);
  background-size: 100% 8px;
  animation: scanlines 6s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    top:100vh
  }
  20%,100%{
    top:0px
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
@media(max-width:425px){
  .et-hero-tabs-container{
    flex-direction: column;
    height: 25vh;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab-slider {
    display: none;
  }
}
@keyframes colorchange
    {
      0% {
      background-color: hsl(331,60%,54%);
    }
    60% {
      background-color: hsl(167,60%,53%);
      /*background-image: url('https://ih1.redbubble.net/image.233933383.3496/flat,800x800,070,f.u3.jpg');*/
    }
    25% {
      background-color: hsl(283,60%,56%);
    }
    95% {
      background-color: hsl(224,60%,58%);
    }
    100%{
      background-color: hsl(331,60%,54%);
    }
